* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 120%;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(172deg, #DFFAFF 6.49%, #75BACD 98.45%);
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-width: 187;
  max-width: 250px;
  margin-top: 32px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  .buttonIcon {
    margin-right: 12px;
  }

  .buttonDitail {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }

  .buttonCaption {
    color: #1B1B1B75;
    font-size: 12px;
    line-height: 100%;
  }
  .buttonText {
    color: #000;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
  }
}

button {
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-radius: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(.95);
  }
}

a {
  width: 100%;
  text-decoration: none;
}